<!-- <div style="background-color:black; height: 50px;">
   
    <a class="brand" href="" title="QUIZcms"><img src="../assets/logo.png" alt="image"></a>
    </div>
       <!-- <a class="active" href="/">QUIZcms</a> -->
        <a class="scroll" href="/#demo">Demo</a>
        <!-- <a class="scroll" href="/#pricing">Preise</a> 
        <!-- <a class="scroll" href="/#video">Videotutorial</a> -->
        <!-- <a class="scroll" href="/casestudy">Case Study</a>
        <a class="scroll" href="/datenschutz">Datenschutz</a>
        <a class="scroll" href="/auth/login">Kundenbereich</a> --> -->
        <!-- <a class="scroll" href="/#contact">Kontakt</a>
        <a class="divider"></a>




    
 -->
