<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>


<div class="container">
  <div class = "row-content-center">
    <div class="col-sm-12">
        
            <mat-card-content>
              <img mat-card-image src="../assets/attention.jpg" alt="Photo">
              <pre><img class="instruction_icon" src="../assets/instruction_icon.png" alt="Photo"><div class="centered" style="block-size: 70px"><p class="instruction-word">Instructions:</p></div></pre> 
              <br><br>
              <div class="top-left">
                1. Number of questions:  counter  
                <br><br>
                2. Duration of quiz: counter
                <br><br>
                3. Marking Scheme: 
                <ul>
                  <li>+4 for each correct answer</li>
                  <li>-1 for each incorrect answer</li>
                </ul>
                4. No other tab , new window or any browser can be opened. 
                <br><br>
                5. Quiz will be submitted if you try to open a new tab!
                <br><br>
                6. No changes will be done after submission of Quiz.
                <br>
                <button mat-raised-button color="primary">Start Now</button>

              </div>  
            </mat-card-content>            
    </div>  
  </div>
</div>      
</body>
</html>